body {
  font-family: Arial, sans-serif;
}
  
h1 {
  text-align: center;
}

.data-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    font-size: 16px;
    line-height: 24px;
    color: #555;
}

.data-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}

@media print {
  body * {
    visibility: hidden;
  }
  .data-box, .data-box * {
    visibility: visible;
  }
  .data-box {
    position: absolute;
    left: 0;
    top: 0;
    }
}